<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script type="module">
        // Import the functions you need from the SDKs you need
        import { initializeApp } from "https://www.gstatic.com/firebasejs/9.15.0/firebase-app.js";
        import { getAnalytics } from "https://www.gstatic.com/firebasejs/9.15.0/firebase-analytics.js";
        // TODO: Add SDKs for Firebase products that you want to use
        // https://firebase.google.com/docs/web/setup#available-libraries
      
        // Your web app's Firebase configuration
        // For Firebase JS SDK v7.20.0 and later, measurementId is optional
        const firebaseConfig = {
          apiKey: "AIzaSyDLydIH-ZMr3qxs8FlqBKDUpE-VbG95TPc",
          authDomain: "mysite-1ae82.firebaseapp.com",
          projectId: "mysite-1ae82",
          storageBucket: "mysite-1ae82.appspot.com",
          messagingSenderId: "796776428341",
          appId: "1:796776428341:web:fd0b73f153309571e4127c",
          measurementId: "G-JBLQPE0M1D"
        };
      
        // Initialize Firebase
        const app = initializeApp(firebaseConfig);
        console.log(app);
        const analytics = getAnalytics(app);
        import {getDatabase,ref,set,update,child,remove} from "https://www.gstatic.com/firebasejs/9.15.0/firebase-database.js";
        const db=getDatabase();
        console.log(db);
        </script>

    <title>Document</title>
</head>
<body>
    <div class="col-md-6 col-sm-12 col-xs-12">
        <div class="contact-form">
            <h3 style="color: darkgoldenrod;"><i class="fas fa-envelope-open"></i> Leave
                a
                Message
            </h3>
            <div class="row">

                <form id="myContactForm" name="form1" action="mailto:exceptionalpanaceasolutions@gmail.com">
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <label for="name">Name:</label>
                        <input type="text" onfocus="" id="name" name="name"
                            placeholder="Name (required)" maxlength="50" minlength="4"
                            required>
                        <!-- <p style="color:red"><span *ngIf="name.invalid && name.touched">Name Required</span></p> -->
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <label for="email">Email:</label>
                        <input onfocus="this.value=''" name="email" id="email"
                            type="email" email placeholder="Email (required)" danger
                            required />
                        <!-- <p style="color:red"><span *ngIf="email.invalid && email.touched">Email Required like someone@gmail.com</span></p> -->

                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-6">
                        <label for="phone">Phone:</label>
                        <input name="phone" onfocus="" id="phone" type="text"
                            placeholder="9999999999" minlength="10" maxlength="10"
                            onchange="myFunction(document.form1.phone)" required />

                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-6">
                        <label for="message">Message:</label>
                        <textarea name="message" onfocus="" id="message" cols="30"
                            rows="10" placeholder="Message(required)" maxlength="500"
                            required>
      </textarea>



                        <button id="submitForm" type="submit">Submit Details</button>
                        <button type="reset">Reset</button>
                    </div>



                </form>

            </div>


        </div>
        <div class="container" style="margin-bottom: 20px; padding-bottom: 30px;">
            <h1 id="success"></h1>
            <button class="primary fa fa-backward " id="backbtn" onclick="myback()">GO
                BACK </button>
        </div>
    </div>
</body>
</html>